@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient( rgba(4,7,30,0.2),rgba(4,7,30,0.2)),url(./images/julius-dudenas-Jrq8ONPnrIU-unsplash.jpg);
  
    background-position: center;
    background-size: cover;
    
    position: relative;
    margin-bottom: 20px;
    font-weight: 600;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 14px 10px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;


}
.navbar >img{
    
    width: 170px;
    margin: 10px 15px;
    padding: 5px;
    background: transparent;
}
.navbar ul{
  
    list-style: none;
    
}
.navbar ul li{
  
   margin: 0 14px;
    
    display: inline-block;
    
    font-size: 18px;
}
.navbar ul li a{
    
    text-decoration: none;
    color: white;
    position: relative;
   
}

.navbar ul li a:before{
    content: '';
    position: absolute;
    
    left: 50%;
    top: 110%;
    width: 0;
    height: 3px;
    background-color: #f44336;
    transition: all 0.5s;

}

.navbar ul li a:after{
    content: '';
    position: absolute;
    
    right: 50%;
    top: 110%;
    width: 0;
    height: 3px;
    background-color: #f44336;
    transition: all 0.5s;


} 

.navbar ul li a:hover:before{
    width: 100%;
    transform: translateX(-50%);

}
.navbar ul li a:hover:after{
    width: 100%;
    transform: translateX(50%);
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}

.banner h1{
    width: 800px;
    padding: 10px 5px;
    margin: 20px 10;
    font-size: 42px;
}
.banner p{
   
    opacity: 0.9;
    padding: 10px 5px;
    margin: 20px 10px;
    line-height: 1.5;
}
.btn{
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding:18px 36px;
    border: 2px solid;
    transition: all 0.5s;
}
.btn:before{
    content: '';
    position: absolute;
    top:50%;
    left: -11%;
    height: 2px;
    width: 10%;
    background-color: white;
    transition: all 0.5s;
}
.btn:after{
    content: '';
    position: absolute;
    top:50%;
    right: -11%;
    height: 2px;
    width: 10%;
    background-color: white;
    transition: all 0.5s;
}
.btn:hover,.btn:hover:after,.btn:hover:before{
    background-color: #f44336;
    border-color: #f44336;
}

.mid{
    text-align: center;
    margin: 80px 0;

}
.mid h1{
    margin: 12px 0;
    padding: 6px;
    font-size: 38px;
    text-transform: capitalize;
}
.mid >p{
    opacity: 0.8;
    margin: 12px 0;
    padding: 6px;
}

.cards{
    margin: 30px 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.p1{
    width: 30%;
    min-width: 220px;
    padding: 4px;
    margin: 0 10px;
    background-color: #FBE5E5;
    border-radius: 15px;
    transition: all 0.2s;
}
.p1 h4{
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
}
.p1 p{
    line-height: 1.5;
    padding: 10px;
    text-align: center;
    
    color: gray;
}

.p1:hover{
   
    box-shadow: rgba(149, 157, 165, 0.5) 1px 8px 24px;
    transform: scale(1.05);
}

.img-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.img-cards .box1{
    width: 23%;
    min-width: 260px;
    margin: 10px 15px;
    border-radius: 15px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
} 
.box1 p{
    position: absolute;
    color: white;
    left: 0;
    bottom: -60px;
    background-color: rgba(20, 20, 20,0.9);
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    transition: all 0.5s;
}
.img-cards .box1 img{
    max-width: 100%;
    border-radius: 15px;

}
.box1:hover{
    box-shadow: rgba(149, 157, 165, 0.5) 1px 8px 24px;
    transform: scale(1.05);
    
}
.box1:hover p{
    bottom: -9px;
} 
.p2{
   width: 25%;
   min-width: 240px;
   text-align: left;
   margin: 20px ;
}
.p2 img{
    max-width: 100%;
    border-radius: 15px;
    margin: 15px 0;
}
.p2 h4,p{
    margin: 10px 0;
    padding: 10px 0;
}
.p3{
    width: 35%;
    min-width: 450px;
    display: flex;
    
    padding: 10px 20px;
    background-color: #FBE5E5;
   
    align-items: center;
    
    border-radius: 15px;
    margin: 20px;
}
.p3 img{
    width: 70px;
    margin: 0 10px;
    border-radius: 50%;
}
.sub{
    text-align: left;
    padding: 5px;
}
.sub h4{
    margin: 12px 0;
}
.checked {
    color: #f44336;
  }

.banner2{
    width: 80%;
    min-width: 430px;
    height: 300px;
    color: white;
    background:linear-gradient(rgba(4,7,30,0.7),rgba(4,7,30,0.7)),url('./images/banner2.jpg') ;
    background-position: center;
    background-size: cover;
    margin: 30px auto;
    text-align: center;
    padding: 30px;
}
.banner2 h1{
    padding: 10px 5px;
    margin: 30px 10px;
    font-size: 32px;

}

footer{
    text-align: center;
    padding: 20px;
}
footer p{
    text-align: center;
    color: gray;
    margin: 10px;
}

footer a{
    display: inline-block;
    width: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #f44336;
    margin: 12px 14px;
    padding: 2px;
    border: 1px solid #f44336;
    border-radius: 50%;
}
.navbar .fa{
    display: none;
}
.show{
    right: 0;
}

@media screen and (max-width : 790px) {
    .banner h1,.banner p{
        width: 400px;
        font-size: 20px;
    }
    .banner p{
        font-size: 12px;
    }
    
    .mid h1{
        font-size: 20px;
    }
    
    .list{
        position: absolute;
        background-color: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: 1s;
    }
    .list ul{
        padding: 20px;
    }
    .navbar ul li{
        display: block;
        margin: 20px 0;

    }
    .navbar .fa{
        display: block;
        color: white;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
    .cards,.img-cards{
        flex-direction: column;
    }
    .p1{
        width: 80%;
        margin: 20px 0;
        min-width: 260px;
    }
    .box1{
        width: 40%;
        margin: 20px 0;
        min-width: 250px;
    }
    .p2{
        width: 60%;
        margin: 20px 0;
        min-width: 260px;
    }
    .btn{
        padding: 11px;
    }
    
    
}

@media screen and (max-width : 520px){
    .banner h1,p{
        width: 280px;
        font-size: 20px;
    }
    .navbar img{
        width: 120px;
       
    }
    .p1{
        width: 90%;
        margin: 20px 0;
        min-width: 220px;
    }
    .p3{
        
        width: 90%;

        min-width: 250px;
        flex-direction: column;
        
    }
    .p3 img{
        width: 70px;
        margin: 0 10px;
        border-radius: 50%;
    }
    .sub{
        text-align: center;
        padding: 5px;
    }
    .sub h4{
        margin: 12px 0;
    }
    .banner2{
        width: 90%;
        min-width: 250px;
    }
    .banner2 h1{
        padding: 10px 5px;
        margin: 30px 10px;
        font-size: 16px;
    
    }
    .btn{
        padding: 7px;
    }
    
}

